@import "tailwindcss";



:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --inset-shadow: 
  --inset-shadow-hover: inset 1px 1px 15px rgba(255, 255, 255, 0.18)
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
    --darker-background: #0E0E0E;
    --ligther-background: #292929;
    --project-card-background: #3A3A3A;
    --ligther-background-hover: #363636;
    --background:#121212;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.parent {
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  grid-template-rows: repeat(7, minmax(0, 1fr));
  gap: 24px;
  width: 100%;
  height: 80vh;
}

    
.div1 {
  grid-column: span 2 / span 2;
  grid-row: span 4 / span 4;
}

.div2 {
  grid-column: span 2 / span 2;
  grid-row: span 3 / span 3;
  grid-column-start: 1;
  grid-row-start: 5;
  background-color: var(--darker-background) ;
}

.div3 {
  grid-column: span 2 / span 2;
  grid-column-start: 3;
  grid-row-start: 1;
  background-color: var(--darker-background) ;
}

.div4 {
  grid-column: span 2 / span 2;
  grid-column-start: 3;
  grid-row-start: 2;
  background-color: var(--darker-background) ;
}

.div5 {
  grid-column: span 3 / span 3;
  grid-row: span 3 / span 3;
  grid-column-start: 3;
  grid-row-start: 3;
  
}

.div6 {
  grid-column: span 3 / span 3;
  grid-row: span 2 / span 2;
  grid-column-start: 3;
  grid-row-start: 6;
  color: #999999 !important;
}

.div7 {
  grid-column: span 3 / span 3;
  grid-row: span 2 / span 2;
  grid-column-start: 5;
  grid-row-start: 1;
  color: #999999 !important;
}

.div8 {
  grid-column: span 2 / span 2;
  grid-row: span 5 / span 5;
  grid-column-start: 6;
  grid-row-start: 3;
  background-color: var(--ligther-background) ;
}

.parent-2 {
  width: 100%;
  height: 85%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 6px;
}
    
.div1-2 {
  grid-column: span 2 / span 2;
  grid-row: span 2 / span 2;
}

.div2-2 {
  grid-column: span 2 / span 2;
  grid-row: span 2 / span 2;
  grid-column-start: 1;
  grid-row-start: 3;
  
}

.div3-2 {
  grid-column: span 2 / span 2;
  grid-row: span 4 / span 4;
  grid-column-start: 3;
  grid-row-start: 1;
  
}

.div4-2 {
  grid-column: span 4 / span 4;
  grid-row: span 2 / span 2;
  grid-column-start: 1;
  grid-row-start: 5;
  
}



.inset-shadow {
  box-shadow: inset 0px 0px 0px rgba(255, 255, 255, 0.18);
  transition: box-shadow 0.3s ease;
}

.inset-shadow:hover {
  box-shadow: inset 1px 1px 10px rgba(255, 255, 255, 0.18);
}

        
@keyframes infinite-scroll {
  from { transform: translateX(0); }
  to   { transform: translateX(-100%); }
}

@layer utilities {
  .animate-infinite-scroll {
    animation: infinite-scroll 25s linear infinite;
  }
}

@layer components {
  .soft-button {
    @apply rounded-lg shadow-md p-2;
    background-color: var(--ligther-background);
    color:var(--foreground) ;
  }
  .soft-button:hover {
    background-color: var(--ligther-background-hover);
  }
}

.scrollbar-custom {
  scrollbar-width: none;
  scrollbar-color: rgba(255, 255, 255, 0.25) transparent;
}

.scrollbar-custom1 {
  /*scrollbar-width: none;*/
  scrollbar-color: rgba(255, 255, 255, 0.0) transparent;
}

.scrollbar-hidden {
  scrollbar-width: none;       
  -ms-overflow-style: none;   
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;              
}


/* Mobile */
@media (max-width: 768px) {
  .parent {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .parent > div {
    grid-column: auto !important;
    grid-row: auto !important;
    height: auto;
  }
}
